html, body {
	border: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #F1F1EC;
	color: #222222;
}

a {
	color: #BB3900;
	cursor: pointer;
}

a,
a:hover,
a:active {
	color: #797470;
}

a:visited {
	color: #222222;
}

header {
	padding: 10px 0;
	text-align: center;
}

.settings {
	position: absolute;
	right: 0;
	top: 34px;
}

.buttons {
	padding: 10px 5px;
}

.buttons > span:first-child {
	margin-left: 0.5%;
	text-align: left;
}

.buttons > span {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 33%;
}

.buttons > span:last-child {
	text-align: right;
}

.newSongForm label {
	display: inline-block;
	padding: 5px 0;
	width: 5em;
}

.keyModeSelectContainer {
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	margin: 5px 0;
    padding: 5px 0 5px 15px;
}

.keyModeSelect {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

.keyModeSelect:first-child {
	border-top: 0;
}

.addAnotherScale {
	font-size: 80%;
	padding-right: 15px;
	text-align: right;
}

.dgrid-row-even {
	background-color: #CECDC6;
}

.song {
	padding: 10px 0;
	position: relative;
}

.songTitle {
	padding: 0 1em;
}

.song > .songActions {
	position: absolute;
	top: 20px;
	right: 5px;
}

.scale {
	padding: 1em 2em;
}
