html, body {
	border: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #F1F1EC;
	color: #222222;
}

a {
	color: #797470;
}

a:hover,
a:active {
	color: #BB3900;
}

a:visited {
	color: #222222;
}

header {
	padding: 10px 0;
	text-align: center;
}

.buttons > span:first-child {
	text-align: left;
}

.buttons > span {
	padding: 0 5px;
	text-align: center;
	width: 30%;
}

.buttons > span:last-child {
	text-align: right;
}

.dgrid-row-even {
	background-color: #CECDC6;
}

.song {
	position: relative;
}

.songTitle {
	padding: 0 1em;
}

.song > .dijitButton {
	position: absolute;
	top: 5px;
	right: 5px;
}

.scale {
	padding: 1em 2em;
}
